.md-tabs__item-button {
  padding-left: .8rem;
  padding-right: .8rem;
  margin-left: .6rem;
  margin-right: .6rem;
  margin-bottom: .2rem;
  margin-top: .2rem;
  background-color: darkorange;
  color: var(--md-primary-bg-color);
  line-height: 0.6;
  border: .1rem solid black;
  border-radius: .2rem;
}
